[Unit]
Description=approachable-api
After=network.target

[Service]
User=brig
Group=brig
WorkingDirectory=/home/brig/code/approachable-backend
ExecStart=/home/brig/.nvm/versions/node/v20.11.0/bin/node dist/app.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
